.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header__logo {
  margin-right: 93px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.navigation__list {
  display: flex;
}

.page-header__wrap {
  display: flex;
  align-items: center;
}

.navigation__link {
  display: flex;

  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  fill: var(--main-text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.navigation__list-item {
  margin-right: 50px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.navigation__list-item:last-child {
  margin-right: 0;
}

.navigation__list-item:focus {
  color: var(--accent-color);
}

.contact__list {
  display: flex;
  margin-left: auto;
}

.contact__item:last-child {
  margin-left: 50px;
}

.contact__icon {
  margin-right: 10px;
}
